@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover; }

body {
  font-family: 'Poppins', sans-serif; }

.card-course-item {
  margin-top: 20px; }
